{{ define "main" }}

<section class="main-content">
  <div class="container">
    <div class="row">
      {{ $deploy_url := .Site.Params.DEPLOY_PRIME_URL}}
      <div class="col-lg-8 mx-auto block shadow mb-5">
        <h2>{{ .Title | markdownify }}</h2>
        <div class="mb-3"><span>by <a
              href="{{ $deploy_url }}author/{{ .Params.Author | urlize | lower }}">{{ .Params.Author | title | humanize }}</a></span>,
          <span>at {{ .PublishDate.Format "02 January 2006" }}</span>, tags :
          {{ range .Params.Tags }}
          <a href="{{ $deploy_url }}{{ "tags/" }}{{ . | urlize | lower }}">{{ . | title | humanize }}</a>
          {{ end }}
        </div>
        {{ if .Params.Image }}
        <img src="{{ .Site.Params.DEPLOY_PRIME_URL }}{{ .Params.Image }}" class="img-fluid w-100 mb-4"
          alt="{{ .Title | markdownify }}">
        {{ end }}

        {{ .Content }}
      </div>
      <div class="col-lg-8 mx-auto block shadow">
        <!-- comments -->
        {{ template "_internal/disqus.html" . }}
      </div>
      <div class="col-lg-8 mx-auto block shadow">
        {{ partial "related.html" . }}
      </div>

    </div>
  </div>
</section>
<script>
  var images = document.getElementsByTagName("img");
  var i;

  for (i = 0; i < images.length; i++) {
    images[i].className += "img-fluid w-100 mb-4";
  }
</script>

{{ end }}